<ion-view view-title="Customer Chat">
<ion-nav-bar  class="bar-positive">
  <ion-nav-back-button  class="button-clear">
<i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
<ion-content scroll="true"> 
             <div ng-repeat="message in messages" class="message-wrapper">
                  <div ng-if="uid !== message.recipient_user_id">
                    <img class="profile-pic left" src="img/default-avatar.png" onerror="onProfilePicError(this)" />
                      <div class="chat-bubble left">
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">You</span>
                              <span>{{message.timestamp_queued}}</span>
                          </div>
                          <div class="message" ng-bind-html="message.message_content" autolinker>
                          </div>
                      </div>
                  </div>
      
                  <div ng-if="uid === message.recipient_user_id">
                       <img class="profile-pic right" src="img/default-avatar.png" />
                      <div class="chat-bubble right">
                          <div class="message-detail">
                              <span ng-click="viewProfile(message)" 
                                  class="bold">{{user.first_name}} {{user.last_name}}</span> 
                              <span >{{message.timestamp_queued}}</span>
                          </div>
                          <div class="message" ng-bind-html="message.message_content " autolinker>
                          </div>
                      </div>
                  </div>
      
                  <div class="cf"></div>
      
              </div>

<br><br><br>

</ion-content>
<div class="bar bar-footer bar-dark  item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-chatbox placeholder-icon"></i>
    <input ng-model="chat.content" type="text" placeholder="Type message here...">
  </label>
  <button class="button button-clear" ng-click="send_chat(chat);">
   Send 
  </button>

</div>
<!-- 
  <label class="item item-input ">
    <input type="text" value="Head Trainer">
  </label>
  <button class="button button-stable pull-right">Send</button>
</ion-view>
