<ion-view view-title="Customer Profile">
<ion-nav-bar  class="bar-positive">
  <ion-nav-back-button  class="button-clear">
<i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
<ion-content scroll="true"> 

<div class="list" style="padding:10px;">
  <div class="item item-image">
    <img src="img/default-avatar-male.jpg">
  </div>
  <label class="item item-input ">
    <span class="input-label">First Name</span>
    <input type="text" ng-model="user.first_name">
  </label>
  <label class="item item-input ">
    <span class="input-label">Last Name</span>
    <input type="text" ng-model="user.last_name">
  </label>
  <label class="item item-input ">
    <span class="input-label">Email</span>
    <input type="text" ng-model="user.email">
  </label>
  <label class="item item-input ">
    <span class="input-label">Company</span>
    <input type="text">
  </label>
  <label class="item item-input ">
    <span class="input-label">Position</span>
    <input type="text">
  </label>
<button class="button button-block button-positive">
  Update
</button>

</div>


</ion-content>
</ion-view>
