<ion-view view-title="Company Bulletins">
<ion-nav-buttons side="left">
<button class="button icon ion-plus button-clear" ng-click="vm.goTo('/company/bulletin/add')"></button>
</ion-nav-buttons>
<ion-content scroll="true"  on-swipe-right="vm.goTo('/customer')"> 
<div class="card">
  <div class="item item-divider">
   <h2>
<i class="ion-ios-star"></i>
October 01, 2015</h2> 
  </div>
  <div class="item item-text-wrap">
YO! Who's ready for a little extra work? Beginning October 1, we are adding GymFed Barbell class to the Tyler schedule. Ten classes available per month for a $10 drop-in rate or you can add all ten classes to your current membership for only $45 per month. See coach Tanner for more information or reach out here, all interested athletes are welcome to participate!
  </div>
</div>
<div class="card">
  <div class="item item-divider">
   <h2>
<i class="ion-ios-star"></i>
September 13, 2015</h2> 
  </div>
  <div class="item item-text-wrap">
Good luck to GymFed member Sheridan Lewis who (forbidding a natural disaster) will crush her triathlon tomorrow at lake Tyler!!!
Just a reminder for community WOD 9:30am in Tyler, let's use Sheridan as inspiration to get out of bed and workout!
  </div>
</div>
<div class="card">
  <div class="item item-divider">
   <h2>
<i class="ion-ios-star"></i>
August 08, 2015</h2> 
  </div>
  <div class="item item-text-wrap">
The challenge starts this coming Monday! Don't forget to get signed up by emailing challenge@gymfed.com If you can't make the seminar on Saturday, don't worry! We are emailing out the details to all challengers as well. Hope you are cleaning out your pantry and stocking up on whole foods! Get ready, it's going to be great!
  </div>
</div>
<div class="card">
  <div class="item item-divider">
   <h2>
<i class="ion-ios-star"></i>
September 15, 2015</h2> 
  </div>
  <div class="item item-text-wrap">
YO! Who's ready for a little extra work? Beginning October 1, we are adding GymFed Barbell class to the Tyler schedule. Ten classes available per month for a $10 drop-in rate or you can add all ten classes to your current membership for only $45 per month. See coach Tanner for more information or reach out here, all interested athletes are welcome to participate!
  </div>
</div>
<div class="card">
  <div class="item item-divider">
   <h2>
<i class="ion-ios-star"></i>
September 15, 2015</h2> 
  </div>
  <div class="item item-text-wrap">
YO! Who's ready for a little extra work? Beginning October 1, we are adding GymFed Barbell class to the Tyler schedule. Ten classes available per month for a $10 drop-in rate or you can add all ten classes to your current membership for only $45 per month. See coach Tanner for more information or reach out here, all interested athletes are welcome to participate!
  </div>
</div>


</ion-content>
</ion-view>
