<ion-view view-title="{{companies[(selected_company)].name}}">
<ion-nav-buttons side="left">
<button  ng-if="is_admin" class="button icon ion-plus button-clear" ng-click="vm.goTo('/company/bulletin/add')"></button>
</ion-nav-buttons>
<ion-content scroll="true"  on-swipe-right="vm.goTo('/customer')"> 
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

<div class="card" ng-repeat="bulletin in bulletins">
  <div class="item item-divider">
    <h2>
    <i class="ion-ios-star"></i>
    {{bulletin.timestamp_queued * 1000 |date:"medium"}}
    </h2> 
  </div>
  <div class="item item-text-wrap">
  {{bulletin.message_content}}
  </div>
</div>


</ion-content>
</ion-view>
