<ion-view view-title="{{companies[selected_company].name}}">
<ion-nav-bar  class="bar-balanced">
</ion-nav-bar>
<ion-nav-buttons side="left">
<button class="button icon ion-arrow-left-c button-clear" ng-click="vm.goTo('/company/bulletins')">Back</button>
</ion-nav-buttons>
<ion-content scroll="true"> 
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

<div class="list" style="padding:15px;">
    <textarea rows="10" style="width:99%; padding:4px;" placeholder="Type bulletin here..." ng-model="bulletin.message_content"></textarea>
<button class="button button-block button-positive" ng-click="send_bulletin(bulletin);">
Send
</button>

</div>


</ion-content>
</ion-view>
