<ion-view view-title="{{user.first_name}} {{user.last_name}}">
<ion-nav-bar  class="bar-balanced">
</ion-nav-bar>
<ion-nav-buttons side="left">
<button class="button icon ion-arrow-left-c button-clear" ng-click="vm.goTo('/company/users')">Back</button>
</ion-nav-buttons>
<ion-content scroll="true"> 
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

  <div class="item item-divider">
   <center><h2>Role</h2> </center>
  </div>
  <label class="item item-radio ">
    <input type="radio" name="group" value="customer" ng-model="perms.role">
    <div class="radio-content">
      <div class="item-content">
      Customer 
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" value="employee" ng-model="perms.role">
    <div class="radio-content">
      <div class="item-content">
        Employee
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" value="admin" ng-model="perms.role">
    <div class="radio-content">
      <div class="item-content">
        Admin
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
<button class="button button-block button-positive" ng-click="update_perms(perms);">
Update
</button>

</div>


</ion-content>
</ion-view>
