<ion-view view-title="{{companies[(selected_company)].name}}">
<ion-nav-buttons side="left" >
<button  ng-if="is_super" class="button icon ion-plus button-clear" ng-click="vm.goTo('/company/add')"></button>
<button  ng-if="is_admin || is_super" class="button icon ion-edit button-clear" ng-click="vm.goTo('/company/profile/edit')"></button>
</ion-nav-buttons>
<ion-content  scroll="true" on-swipe-right="vm.goTo('/customer')"> 
<ion-refresher on-refresh="doRefresh()"></ion-refresher>
  <!-- Main content, usually <ion-nav-view> -->
<div class="list card">

  <div class="item ">
    <!-- <img src="img/gymfed.jpeg"> -->
    <div ng-if="companies[(selected_company)].logo" class="item item-image avatar">
      <img ng-src="{{companies[(selected_company)].logo}}">
    </div>
    <h1>{{companies[(selected_company)].name}}</h1>
    <h2>{{companies[(selected_company)].description}}</h2>
    <!--<img class="full-image"
      ng-src="{{companies[selected_company].img_url}}">-->
  </div>

  <div class="item item-body">
    <h2></h2>
    <p>{{companies[(selected_company)].description}}</p>
  </div>
</ion-content>
</ion-view>
