      <ion-popover-view>
        <ion-content scroll="true">
<div class="list">

  <label class="item item-radio ">
    <input type="radio" name="group"  checked="checked">
    <div class="item-content">
      Gym Fed
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Brewer Digital
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Fitness One
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Workout City
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Digital First
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      First Digital
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Country Gym
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group">
    <div class="item-content">
      Gym Country
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>

        </ion-content>
      </ion-popover-view>
