<ion-view view-title="Invite ({{companies[selected_company].name}})">
<ion-nav-bar  class="bar-balanced">
</ion-nav-bar>
<ion-nav-buttons side="left">
<button class="button icon ion-arrow-left-c button-clear" ng-click="vm.goTo('/company/users')">Back</button>
</ion-nav-buttons>
<ion-content scroll="true"> 
<ion-refresher on-refresh="doRefresh()"></ion-refresher>

<div class="list" style="padding:10px;">
  <label class="item item-input ">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email address of existing or new member" ng-model="invite.email">
  </label>
  <label class="item item-input ">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Leave blank if existing member" ng-model="invite.first">
  </label>
  <label class="item item-input ">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Leave blank if existing member" ng-model="invite.last">
  </label>
<br><br>
  <div class="item item-divider">
   <center><h2>Role</h2> </center>
  </div>
  <label class="item item-radio ">
    <input type="radio" name="group"  checked="checked" ng-model="invite.role" value="customer">
    <div class="radio-content">
      <div class="item-content">
      Customer 
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="invite.role" value="employee">
    <div class="radio-content">
      <div class="item-content">
        Employee
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="invite.role" value="admin">
    <div class="radio-content">
      <div class="item-content">
        Company Administrator
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </div>
  </label>
<button class="button button-block button-positive" ng-click="invite_user(invite);">
Invite
</button>

</div>


</ion-content>
</ion-view>
