<ion-view view-title="Company Users">
<ion-content scroll="false"  on-swipe-right="vm.goTo('/customer')"> 
<div class="list card">

  <div class="item item-divider">
   <h2>Employees</h2> 
  </div>
  <div class="item item-avatar" ng-click="vm.goTo('company/chat');">
    <img  src="img/default-avatar.png">
    <h2>Cody Fedell</h2><p>Owner</p>
  </div>
  <div class="item item-avatar" ng-click="vm.goTo('company/chat');">
    <img  src="img/default-avatar.png">
    <h2>Joel Brewer</h2><p>Head Trainer</p>
  </div>
  <div class="item item-avatar" ng-click="vm.goTo('company/chat');">
    <img  src="img/default-avatar.png">
    <h2>Brook Davis</h2>
    <p>Technical Support</p>
  </div>
</div>

</ion-content>
</ion-view>
